@tailwind base;
@tailwind components;
@tailwind utilities;

#hero {
    background-image: url("/dist/images/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

@layer components {
    .btn {
        @apply px-10 py-2 my-0 font-bold uppercase border-2 border-black font-alata hover:bg-black hover:text-white mr-12 tracking-widest;
    }
}

.item-gradient {
    @apply absolute top-0 bottom-0 right-0 left-0 bg-gradient-to-b from-transparent to-gray-900 group-hover:from-gray-50 group-hover:to-white group-hover:opacity-70;
}

.item-text {
    @apply absolute px-6 duration-200 w-52 bottom-4 md:bottom-8 md:px-10 group-hover:scale-110 group-hover:text-black;
}

@media (max-width: 576px) {
    #hero {
        background-image: url("/dist/images/mobile/image-hero.jpg");
        background-repeat: no-repeat;
        background-size: center;
    }
}

/* Hamburger Menu */

.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    width: 24px;
    height: 2px;
    top: 0;
    left: 0;
    background: #fff;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.ham-open {
    transform: rotate(90deg);
}

.ham-open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
}

.ham-open .hamburger-middle {
    display: none;
}

.ham-open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
